/TerminalServer/Firmware/TestCode.X/build/
/TerminalServer/Firmware/TestCode.X/dist/
/EtherBalls.X/build/
/EtherBalls.X/dist/
/FuckingWorkYouBastard.X/build/
/FuckingWorkYouBastard.X/dist/.generated_files
TerminalServer/Firmware/TestCode.X/.generated_files
/TerminalServer/Firmware/TestCode.X/.generated_files
/TerminalServer/Bootloader/Bootloader.X/build/
/TerminalServer/Bootloader/Bootloader.X/dist/
*.bak?
version.bin
license.txt
*.blend
*.blend?
*-cache
*-table
.history
